body {
  padding: 0;
  background-color: transparent;
}

header {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

header button {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

main {
  padding: var(--container-paddding);
}

.hide {
  display: none;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  background-color: var(--vscode-editor-background);
  margin-bottom: 0;
}

#progress-bar {
  height: 4px;
}

#progress {
  height: 4px;
  background-color: var(--vscode-progressBar-background);
}

.arrow {
  /* background-color: var(--vscode-button-secondaryBackground); */
  width: 30px;
}

/* .arrow:hover {
  background-color: var(--vscode-button-secondaryHoverBackground);
} */

nav {
  display: flex;
  align-items: center;
}

nav p {
  flex-grow: 1;
  text-align: center;
}
